<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ONLINE EXAMINATION SYSTEM</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='title.css')}}">
    

</head>
<body>
    <div class="student">
    <h1 style="color: aqua;">ONLINE EXAMINATION SYSTEM</h1>
    </div>
    <div style="text-align:left;">
        <a href="{{url_for('admin')}}"><button class="btnstyle">Admin</button></a>
        <a href="{{url_for('user')}}"><button class="btnstyle">user</button></a>
    
    
    </div>
</body>
</html>